.chatbot-fixed {
    position: fixed;
    bottom: 0;
    left: 1rem;
    color: #240090;
	display: flex;
	pointer-events: none;
	opacity: 0;
	transition: opacity .6s ;
	--transform: translateY(-100vh);
	--transition: transform .3s;

  }

  .button-fixed {
    position: fixed;
    bottom: 0;
    left: 1rem;

  }

  div.fixed {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 300px;
	border: 3px solid #73AD21;
  }


 

  
.chatbot-fixed--show{
	opacity: 1;
	pointer-events: unset;
	opacity: 1;
	transition: opacity .6s ;
	--transform: translateY(0);
  }


.botText{
    font-family: monospace;
    font-size: 14px;
    text-align: left;
    line-height: 25px;
    color: rgb(109, 11, 109);
}

#userInput{
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    width: 70%;
    text-align: center;
}

#textInput{
    padding: 5px;
	font-size: 1rem;
	min-height: 25px;
	max-height: 25vh;
	overflow: auto;
	background: rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, 0.29);
	font-style: italic;
	outline: none;
	resize: none;
}

#textInput.focus {
	background: rgba(255, 255, 255, 0.5);
}




  
.userText{
    text-align: right;
    font-family: monospace;
    font-size: 14px;
    line-height: 25px;
    color: rgb(109, 11, 109);
}

h2,
h3 {
	margin: 0;
	padding: 0;
}


h2 {
	font-size: 1rem;
	font-weight: 400;
}

hr {
	margin: 15px 0;
}

.color-navbar {
	background: #240090;
}

.bg-light {
	background: hsla(231, 10%, 90%, 0.8);
}

.text-light h2 {
	color: #f0f0f0;
    font-size: 20px;
}

.align-center {
	text-align: center;
}

.btn-transparent {
	border: 0;
	background: 0;
}

.btn-icon {
	font-size: 1.9rem;
	width: 100%;
}

#app {
	background: #ffffff;
	top: 47px;
	left: 19px;
	height: 450px;
	width: 380px;
	display: grid;
	grid-template-rows: 50px 1fr auto;
	border-radius: 30px;
	transform: var(--transform);
	transition: transform .3s;
	
}


.span-user{
    font-weight: bold;
    font-family: Arial;
	font-size: 13px;
    color: rgb(22, 22, 22);
}

#chatbot{
    display: grid;
	align-self: end;
	grid-auto-rows: minmax(min-content, max-content);
	padding: 5px 0;
	box-sizing: border-box;
	max-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	border-radius: 30px;
}

#chatbot p {
font-family: Arial, sans-serif;
	font-size: 13px;
    color: rgb(22, 22, 22);
}


/*** Start Chat overlay ***/

div#landing {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 15px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	text-align: center;
}

span.fas.fa-robot {
	align-self: end;
}

input#username {
	font-size: 1.1rem;
	line-height: 2.5rem;
	text-align: center;
	border-radius: 5px;
	border: solid 1px #00000087;
	margin: 15px 0;
	width: 100%;
}

form#form-start {
	align-self: end;
}

#start-chat {
	background: #FF9800;
	border: none;
	padding: 15px 30px;
	font-size: 1.2rem;
	color: #ffffff;
	border-radius: 5px;
	width: 100%;
}

/********************/

/*** Main chat UI ***/

/********************/

#header,
#form1 {
	display: grid;
	grid-template-columns: 50px auto 50px;
	align-items: center;
}

#app .form-control {
    box-shadow: none;
    background: transparent;
    border: 2px solid rgba(12, 24, 190, 0.623);
    height: 37px;
    width: 100%;
    font-size: 13px;
    font-weight: bolder;
    color: #000000;
    font-weight: 300;
	font-family: Arial, Helvetica, sans-serif;
  }

#header {
	padding: 4px;
}

/* Conversation */

#message-board {
	display: grid;
	align-self: end;
	grid-auto-rows: minmax(min-content, max-content);
	padding: 5px 0;
	box-sizing: border-box;
	max-height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	border-radius: 30px;
}

.post {
	position: relative;
	margin: 4px 10px;
	padding: 10px;
	border-radius: 10px;
	font-size: .9rem;
	word-break: break-word;
}

.post-user {
    justify-self: right;
	margin-left: 50px;
    font-family: Arial, sans-serif;
	font-size: 13px;
    color: rgb(22, 22, 22);
    background: rgba(255, 152, 0, 0.1);
	/*border-top-left-radius: 0;*/
}

.post-bot {
	justify-self: left;
	margin-right: 50px;
	background: rgba(64, 83, 191, 0.1);
	/*border-top-right-radius: 0;*/
    font-family: Arial, sans-serif;
	font-size: 13px;
    color: rgb(22, 22, 22);
}

.post:after {
	content: '';
	position: absolute;
	right: -10px;
	top: 10px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top: 0;
}

.post-user:after {
    right: -10px;
	border-left-color: rgba(64, 83, 191, 0.1);
	border-right: 0;
    font-family: Arial, sans-serif;
	font-size: 13px;	
}

.post-bot:after {
	left: -10px;
	border-right-color: rgba(255, 152, 0, 0.1);
	border-left: 0;
}

.timestamp {
	font-size: .7em;
	opacity: .8;
	margin: 5px 0 -5px;
	display: block;
    font-weight: bolder;
}

/* Chat Form */

#form1 {
	padding: 6px;
	/*min-height: 40px;*/
	grid-template-rows: auto 1fr;
}

#emoijis {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	padding: 5px;
	grid-gap: 5px;
	margin-bottom: 5px;
}

#message {
	padding: 5px;
	font-size: 1rem;
	min-height: 25px;
	max-height: 25vh;
	overflow: auto;
	background: rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, 0.29);
	font-style: italic;
	outline: none;
	resize: none;
}

#app #form1.focus {
	background: rgba(255, 153, 0, 0.993);
}

#message.focus {
	background: rgba(255, 255, 255, 0.5);
}

/* Custom Scrollbar */

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: hsl(231, 50%, 50%, 10%);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: hsl(231, 50%, 50%);
}




