{% extends 'blog/base3.html' %}




{% block content %}

<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(./../../static/blog/images/contacto.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Contactanos </h1>
							<h2><p>Empieza a generar ganancias con tu cuenta de Facebook</p></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-contact">
		<div class="container">
			<div class="row">
			<div class="col-md-2"></div>
				<div class="col-md-8 animate-box">
					<h4 style="text-align: center; color: #240090; font-weight: 600;"> ¿Cómo empiezas a generar dinero?<br> 1.-Registrar tu nombre y teléfono 
						<br> 2.- Un asesor se pondrá en contacto contigo </h4>
					<form action="/blog/create/info/" method="POST">
                        {% csrf_token %}

						<div class="row form-group">
							<div class="col-md-12">
								<label for="nombre">Nombre <i class="fa fa-user-circle" aria-hidden="true"></i></label>
								<input type="text" for="nombre" class="form-control" id="nombre" name="nombre" placeholder="Escribe tu nombre..." required >
							</div>
						
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<label for="numero"> Telefono Celular <i class="fa fa-phone" aria-hidden="true"></i>   </label>
								<input type="number" name="numero" id="numero" class="form-control" placeholder="Escribe tu numero de celular..." required >
							</div>
						</div>

						<div class="form-group">
                            <button class="btn btn-primary">Enviar</button>
						</div>

					</form>		
				</div>
			</div>
			
		</div>
	</div> 
	
{% endblock %}
