{% extends 'blog/base2.html' %}
{% load static %}

{% block content %}


<div class="container mt-5 mb-6">
  <button id="btnExportar" class="btn btn-success">
    <i class="fas fa-file-excel"></i> Exportar datos a Excel
  </button>
 <br> <br>  
    <div class="row">
        <div class="col-sm-12">
            {% for info in infos %}
            {% endfor %}       
            
            <table class="table table-striped text-center hover" id="tableInfo">
                <thead>
                  <tr >
                    <th class="text-center" scope="col">Nombre</th>
                    <th scope="col" class="text-center">Celular</th>
                    <th scope="col" class="text-center">Fecha</th>
                    <th scope="col" class="text-center">Estado</th>
                    <th scope="col" class="text-center">Contactado por: </th>
                    <th scope="col" class="text-center">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for info in infos %}

                  <tr>
                    <td>{{info.nombre}}</td>
                    <td>{{info.numero}}</td>
                    <td>{{info.date }}</td>
                    <td style="color: green;"> Ya contactado <i class="fa fa-check" aria-hidden="true" ></i> </td>
                    <td><i class="fas fa-user" style="color:#240090"></i> {{info.tEncargado}} </td>

                    <td>
                      <form action="{% url 'info_delete' info.id %}" method="POST">
                        {% csrf_token %}

                        <button  data-keyboard="false" data_backdrop="static" class="btn btn-danger" style="width: 40px;"> <i class="fa fa-trash-o" aria-hidden="true" ></i>  </button>
                      </form>
                        
                    </td>

                  </tr>
                  {% endfor %}
     
                </tbody>
              </table>
        </div>
    </div>
</div>

<br>


<script>
  const $btnExportar = document.querySelector("#btnExportar"),
     $tableInfo = document.querySelector("#tableInfo");
 
 $btnExportar.addEventListener("click", function() {
   let tableExport = new TableExport($tableInfo, {
     exportButtons: false, // No queremos botones
     filename: "PersonasContactadas", //Nombre del archivo de Excel
     sheetname: "Personas Contactadas", //Título de la hoja
 });
 let datos = tableExport.getExportData();
 let preferenciasDocumento = datos.tableInfo.csv;
 tableExport.export2file(preferenciasDocumento.data, preferenciasDocumento.mimeType, preferenciasDocumento.filename, preferenciasDocumento.fileExtension, preferenciasDocumento.merges, preferenciasDocumento.RTL, preferenciasDocumento.sheetname);
 });
  
 </script>
{% endblock %}
