{% extends 'blog/base.html' %}
{% block content %}
{% load static %}

	
	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(./../../static/blog/images/inicio.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Genera Dinero Con Nosotros ¿Que Necesitas? <br> Solo Una Cuenta De Facebook</h1>
							<h2 style="color: rgb(255, 255, 255);">Comunicate con uno de nuestros asesores para iniciar a ganar dinero </h2>
							<p><a class="btn btn-primary btn-lg btn-learn" href="/blog/contacto"  style="width: 340px; text-align: center;">Clic aqui <br> y empieza a generar ingresos </a> </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	
	<div id="fh5co-project">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Empieza a ganar a dinero</h2>
					<p>Ofrecemos un servicio competitivo internacionalmente y de alta calidad en la creación, administración y resultados de campañas publicitarias en medios digitales. Para llegar a más clientes internacionales y así ampliar la gama de plataformas digitales de publicidad.</p>
				</div>
			</div>
		</div>
		<div class="container-fluid proj-bottom">
			<div class="row">
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a ><img src="{% static 'blog/images/imagen1.jpg' %}" class="img-responsive" style="background-color: rgba(144, 34, 0, 0.878);">
						<h3 style="color: white; font-weight: bold;">Ganá Dinero</h3>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a ><img src="{% static 'blog/images/iniio3.jpg' %}" alt="Glowing Digital" class="img-responsive">
						<h3 style="color: white; font-weight: bold;">Solo con tu cuenta de Facebook</h3>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a ><img src="{% static 'blog/images/inicio2.jpeg' %}" alt="Glowing Digital" class="img-responsive" >
						<h3  style="color: white; font-weight: bold;">Dinero al instante </h3>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a ><img src="{% static 'blog/images/imagen4.png' %}" alt="Glowing Digital" class="img-responsive">
						<h3  style="color: white; font-weight: bold;">Campañas publicitarias en medios digitales.</h3>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a><img src="{% static 'blog/images/imagen5.jpg' %}" alt="Glowing Digital" class="img-responsive" height="500px"  >
						<h3  style="color: white; font-weight: bold;">Clientes Internacionales</h3>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a ><img src="{% static 'blog/images/imagen6.jpg' %}" alt="Glowing Digital" class="img-responsive" height="400px"  >
						<h3  style="color: white; font-weight: bold;">Presencia en plataformas digitales de publicidad.</h3>
					</a>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="features">
					<div class="col-md-4 animate-box">
						<h4>Beneficios para tí</h4>
						<p style="text-align: justify;"> Puedes obtener un ingreso extra por permitirnos trabajar en tu perfil, no tienes que realizar más que compartir una página con todos tus amigos nosotros nos encargamos de todos lo demás.</p>
					</div>
					<div class="col-md-4 animate-box">
						<h4>Procesos Rapidos</h4>
						<p style="text-align: justify;">Para empezar a colaborar con nosotros solo toma unos minutos y el proceso de creación es muy rapído y sencillo nosotros te iremos informado paso a paso por medio de tu grupo de WhatsApp. También tu pago se realizará en cuanto el proceso este totalmente listo y esto toma unos cuantos días.</p>
					</div>
					<div class="col-md-4 animate-box">
						<h4>Atención Personalizada </h4>
						<p style="text-align: justify;">Para la mejor experiencia de contacto te asignaremos u asesor solamente para ti , quién te guiará durante todo el proceso y resolverá cada una de tus dudas , nuestros personal esta altamente calificado para que tu colaboración sea todo un éxito.</p>
					</div>
				</div>
				<div class="col-md-12 text-center animate-box">
					<p><a class="btn btn-primary btn-lg btn-learn" href="/blog/contacto">Empieza a ganar a dinero</a></p>
				</div>
			</div>
		</div>
	</div>

	

	<div id="fh5co-started" style="background-image:url(./../../static/blog/images/colaboracion2.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Estas listo <br> Empieza a Ganar Dinero con Nosotros <br> Con solo tu Cuenta de Facebook</h2>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center">
					<p><a href="/blog/contacto" class="btn btn-default btn-lg">Ponte en Contacto Ahora</a></p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
