{% extends 'blog/base.html' %}
{% block content %}
{% load static %}

	
	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(./../../static/blog/images/inicio.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Genera Dinero Con Nosotros ¿Que Necesitas? <br> Solo Una Cuenta De Facebook</h1>
							<h2 style="color: rgb(255, 255, 255);">Comunicate con uno de nuestros asesores para iniciar a ganar dinero </h2>
							<p><a class="btn btn-primary btn-lg btn-learn" href="/blog/contacto"  style="width: 340px; text-align: center;">Clic aqui <br> y empieza a generar ingresos </a> </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	
	<div id="fh5co-project">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Empieza a ganar a dinero</h2>
					<p>Ofrecemos un servicio competitivo internacionalmente y de alta calidad en la creación, administración y resultados de campañas publicitarias en medios digitales. Para llegar a más clientes internacionales y así ampliar la gama de plataformas digitales de publicidad.</p>
				</div>
			</div>
		</div>
		<div class="container-fluid proj-bottom">
			<div class="row">
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a ><img src="https://www.semana.com/resizer/MEha0QMFGdMro8PwhDxfR2z1DSg=/1280x0/smart/filters:format(jpg):quality(80)/cloudfront-us-east-1.images.arcpublishing.com/semana/QK6ET7TQF5G7PJ3K2L2VDILCFQ.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive" style="background-color: rgba(144, 34, 0, 0.878);">
						<h3 style="color: white; font-weight: bold;">Ganá Dinero</h3>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a ><img src="{% static 'blog/images/iniio3.jpg' %}" alt="Glowing Digital" class="img-responsive">
						<h3 style="color: white; font-weight: bold;">Solo con tu cuenta de Facebook</h3>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a ><img src="{% static 'blog/images/inicio2.jpeg' %}" alt="Glowing Digital" class="img-responsive" >
						<h3  style="color: white; font-weight: bold;">Dinero al instante </h3>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a ><img src="https://www.mediasource.mx/hs-fs/hubfs/Campa%C3%B1as%20publicitarias%20-%20qu%C3%A9%20son,%20c%C3%B3mo%20hacer%20una%20y%2010%20ejemplos%20exitosos/Publicidad%20digital%20-%20qu%C3%A9%20es%20y%20cu%C3%A1nto%20invertir%20en%20ella/que-es-la-publicidad-digital.png?width=900&name=que-es-la-publicidad-digital.png" alt="Glowing Digital" class="img-responsive">
						<h3  style="color: white; font-weight: bold;">Campañas publicitarias en medios digitales.</h3>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a><img src="https://imgs.search.brave.com/NgsOGAZw4BdeWocHk55AamWjAk06xKRVjqmTNhnHLTM/rs:fit:1200:1080:1/g:ce/aHR0cHM6Ly9kbTBx/eDh0MGk5Z2M5LmNs/b3VkZnJvbnQubmV0/L3RodW1ibmFpbHMv/dmlkZW8vRDhxYS0y/RS90d28tYnVzaW5l/c3MtcHJvZmVzc2lv/bmFscy1oYXZpbmct/YS1tZWV0aW5nLWlu/LW1vZGVybi1vZmZp/Y2UtdGFsa2luZy10/b2dldGhlcl9oZmds/eXVuMWJfdGh1bWJu/YWlsLTEwODBfMDEu/cG5n" alt="Glowing Digital" class="img-responsive" height="500px"  >
						<h3  style="color: white; font-weight: bold;">Clientes Internacionales</h3>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a ><img src="https://maestriasydiplomadostec.blob.core.windows.net/maestriasydiplomados/uploads/programaec/imagen/554/LIVE_Data-Science-for-Business.jpg" alt="Glowing Digital" class="img-responsive" height="400px"  >
						<h3  style="color: white; font-weight: bold;">Presencia en plataformas digitales de publicidad.</h3>
					</a>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="features">
					<div class="col-md-4 animate-box">
						<h4>Beneficios para tí</h4>
						<p>Beneficios para ti, genera dinero y reputacion en internet. Con tu colaboración se crean campañas publicitarias exitosas y que generen ganancias </p>
					</div>
					<div class="col-md-4 animate-box">
						<h4>Procesos Rapidos</h4>
						<p>Tienes alguna propuesta, ideas brillantes, te escucharemos para que se generen ingresos lo mas pronto posible y puedas de disfrutar de los beneificios al instante</p>
					</div>
					<div class="col-md-4 animate-box">
						<h4>Atención Personalizada </h4>
						<p>Tendras una atención personalizada una vez que nos proporciones tus datos de contacto, para que aasi podamos contactarte lo mas rapido posible y resolver tus dudas </p>
					</div>
				</div>
				<div class="col-md-12 text-center animate-box">
					<p><a class="btn btn-primary btn-lg btn-learn" href="/blog/contacto">Empieza a ganar a dinero</a></p>
				</div>
			</div>
		</div>
	</div>

	

	<div id="fh5co-started" style="background-image:url(./../../static/blog/images/colaboracion2.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Estas listo <br> Empieza a Ganar Dinero con Nosotros <br> Con solo tu Cuenta de Facebook</h2>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center">
					<p><a href="/blog/contacto" class="btn btn-default btn-lg">Ponte en Contacto Ahora</a></p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
