{% extends 'blog/base3.html' %}
{% block content %}

    <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(./../../static/blog/images/colaboracion.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Te ayudaremos a conseguir tus objetivos</h1>
							<h2>Ponte en contacto con nosotros</h2>
                            <p><a class="btn btn-primary btn-lg btn-learn" href="/blog/contacto">Contactar</a> </p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-pricing">
		<div class="container">
			<div class="row">
                <h1 class="text-center" style="color: #240090">Somos Especialistas en Marketing Digital</h1>
                <p class="text-center">Todos ganan con nosotros, preparate para grandes cambios.</p>
                <p class="text-center">Sin duda somos la mejor opción para ti.</p>

				<div class="pricing">
					<div class="col-md-4 animate-box">
						<div class="price-box popular">
							<div class="price"><i class="fa-solid fa-bolt"></i></div>
							<ul class="classes">
								<li> <h2>Ingreso  Rápido</h2> </li>
								<li class="color"><p> La sincronización de tu cuenta toma de 10 a 15 minutos solamente. </p></li>
							</ul>
						</div>
					</div>

					<div class="col-md-4 animate-box">
						<div class="price-box popular">
							<div class="price"><i class="fa-solid fa-people-group"></i></div>
							<ul class="classes">
								<li> <h2>Equipo dedicado</h2> </li>
								<li class="color"><p>Nuestros expertos en marketing digital, trabajaran en todo momento para ti. </p></li>
							</ul>
						</div>
					</div>

                    
					<div class="col-md-4 animate-box">
						<div class="price-box popular">
							<div class="price"><i class="fa-solid fa-user-clock"></i></div>
							<ul class="classes">
								<li> <h2>Horarios de atención</h2> </li>
								<li class="color"><p>Te brindaremos la atención que necesitas en nuestro horario de: 09:00 am a 07:00 pm de lunes a sábado.</p></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="fh5co-started" style="background-image:url(./../../static/blog/images/workTeam.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>¿Estas Listo?</h2>
                    <p style="font-size: 60px;">Empieza a <br> ganar dinero</p>				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center">
					<p><a href="/blog/contacto" class="btn btn-default btn-lg">Contactanos</a></p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

	
	


