{% extends 'blog/base3.html' %}
{% block content %}
{% load static %}

<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(./../../static/blog/images/facebook.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Descubre nuestras páginas con los diversos temas que manejamos
                          <br> </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="main">
    <h1 style="color: white;">R</h1>
    <ul class="cards">
      <li class="cards_item2">
        <div class="card">
          <div class="card_image buttonCard"><img src="{% static 'blog/images/pagina1.png' %}"></div>
          <div class="card_content2">
            <h2 class="card_title">Sears Amazing <i class="fa fa-facebook-official" aria-hidden="true"></i></h2>
            <br>
            <button class="btn card_btn buttonCard"><a href="https://www.facebook.com/profile.php?id=100090470154696&_rdc=1&_rdr">Visitar Página <i class="fa-solid fa-globe"></i></a> </button>
          </div>
        </div>
      </li>
      <li class="cards_item2">
        <div class="card">
          <div class="card_image buttonCard"><img src="{% static 'blog/images/pagina2.png' %}"></div>
          <div class="card_content2">
            <h2 class="card_title">Catherina Crockery <i class="fa fa-facebook-official" aria-hidden="true"></i></h2>
            <br>
            <button class="btn card_btn buttonCard"><a href="https://www.facebook.com/profile.php?id=100089748282901&_rdc=1&_rdr">Visitar Página <i class="fa-solid fa-globe"></i></a> </button>
          </div>
        </div>
      </li>
      <li class="cards_item2">
        <div class="card">
          <div class="card_image buttonCard"><img src="{% static 'blog/images/pagina3.png' %}"></div>
          <div class="card_content2">
            <h2 class="card_title">Donaldson Thrones <i class="fa fa-facebook-official" aria-hidden="true"></i></h2>
            <br>
            <button class="btn card_btn buttonCard"><a href="https://www.facebook.com/profile.php?id=100090719265522">Visitar Página <i class="fa-solid fa-globe"></i></a> </button>
          </div>
        </div>
      </li>
      <li class="cards_item2">
        <div class="card">
          <div class="card_image buttonCard"><img src="{% static 'blog/images/pagina4.png' %}"></div>
          <div class="card_content2">
            <h2 class="card_title">Laurie Glam<i class="fa fa-facebook-official" aria-hidden="true"></i></h2>
            <br>
            <button class="btn card_btn buttonCard"><a href="https://www.facebook.com/profile.php?id=100091142074352">Visitar Página <i class="fa-solid fa-globe"></i></a> </button>
          </div>
        </div>
      </li>
      <li class="cards_item2">
        <div class="card">
          <div class="card_image buttonCard"><img src="{% static 'blog/images/pagina5.png' %}"></div>
          <div class="card_content2">
            <h2 class="card_title">Fraser Zone<i class="fa fa-facebook-official" aria-hidden="true"></i></h2>
            <br>
            <button class="btn card_btn buttonCard"><a href="https://www.facebook.com/profile.php?id=100090803782788&_rdc=2&_rdr">Visitar Página <i class="fa-solid fa-globe"></i></a> </button>
          </div>
        </div>
      </li>
      <li class="cards_item2">
        <div class="card">
          <div class="card_image buttonCard"><img src="{% static 'blog/images/pagina6.png' %}"></div>
          <div class="card_content2">
            <h2 class="card_title">Sparks Volleybal<i class="fa fa-facebook-official" aria-hidden="true"></i></h2>
            <br>
            <button class="btn card_btn buttonCard"><a href="https://www.facebook.com/profile.php?id=100090369426828">Visitar Página <i class="fa-solid fa-globe"></i></a> </button>
          </div>
        </div>
      </li>
      <li class="cards_item2">
        <div class="card">
          <div class="card_image buttonCard"><img src="{% static 'blog/images/pagina7.png' %}"></div>
          <div class="card_content2">
            <h2 class="card_title">Darian Dash<i class="fa fa-facebook-official" aria-hidden="true"></i></h2>
            <br>
            <button class="btn card_btn buttonCard"><a href="https://www.facebook.com/profile.php?id=100090846382249&_rdc=2&_rdr">Visitar Página <i class="fa-solid fa-globe"></i></a> </button>
          </div>
        </div>
      </li>
      <li class="cards_item2">
        <div class="card">
          <div class="card_image buttonCard"><img src="{% static 'blog/images/pagina8.png' %}"></div>
          <div class="card_content2">
            <h2 class="card_title">Clare Touch<i class="fa fa-facebook-official" aria-hidden="true"></i></h2>
            <br>
            <button class="btn card_btn buttonCard"><a href="https://www.facebook.com/profile.php?id=100090873051236">Visitar Página <i class="fa-solid fa-globe"></i></a> </button>
          </div>
        </div>
      </li>
      <li class="cards_item2">
        <div class="card">
          <div class="card_image buttonCard"><img src="{% static 'blog/images/pagina9.png' %}"></div>
          <div class="card_content2">
            <h2 class="card_title">Atkins Footprints<i class="fa fa-facebook-official" aria-hidden="true"></i></h2>
            <br>
            <button class="btn card_btn buttonCard"><a href="https://www.facebook.com/profile.php?id=100090122812000">Visitar Página <i class="fa-solid fa-globe"></i></a> </button>
          </div>
        </div>
      </li>
      
      
    </ul>
  </div>
  


{% endblock %}