{% extends 'blog/base3.html' %}
{% block content %}
{% load static %}

<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(./../../static/blog/images/politicas.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Revisa las políticas con las que nos regimos.<br> </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="main">
    <h1 style="color: white;">R</h1>
    <ul class="cards">
      <li class="cards_item2">
        <div class="card">
          <div class="card_image buttonCard"><img src="{% static 'blog/images/t1.jpg' %}"></div>
          <div class="card_content2">
            <h2 class="card_title2">¿Con qué datos debe cumplir mi perfil para que pueda colaborar ?
               </h2>
            <br>
            <button class="btn card_btn buttonCard"><a href="https://www.facebook.com/help/327202558928776?helpref=about_content">Revisar políticas <i class="fa fa-facebook-official" aria-hidden="true"></i></a> </button>
          </div>
        </div>
      </li>

      <li class="cards_item2">
        <div class="card">
          <div class="card_image buttonCard"><img src="{% static 'blog/images/t2.jpg' %}"></div>
          <div class="card_content2">
            <h2 class="card_title2">¿Por qué mis datos deben estar actualizados (correo y teléfono)? 
               </h2>
            <br>
            <button class="btn card_btn buttonCard"><a href="https://www.facebook.com/help/297947214257999">Revisar política  <i class="fa fa-facebook-official" aria-hidden="true"></i></a> </button>
          </div>
        </div>
      </li>

      <li class="cards_item2">
        <div class="card">
          <div class="card_image buttonCard"><img src="{% static 'blog/images/t3.jpg' %}"></div>
          <div class="card_content2">
            <h2 class="card_title2">¿Por qué solicitamos tu identificación oficial?
               </h2>
            <br>
            <button class="btn card_btn buttonCard"><a href="https://www.facebook.com/help/367814907084687">Revisar política  <i class="fa fa-facebook-official" aria-hidden="true"></i></a> </button>
          </div>
        </div>
      </li>

      <li class="cards_item2">
        <div class="card">
          <div class="card_image buttonCard"><img src="{% static 'blog/images/t4.jpg' %}"></div>
          <div class="card_content2">
            <h2 class="card_title2">¿Qué es y para qué sirve Facebok Business?
               </h2>
            <br>
            <button class="btn card_btn buttonCard"><a href="https://www.facebook.com/business/tools/meta-business-suite ">Revisar política <i class="fa fa-facebook-official" aria-hidden="true"></i></a> </button>
          </div>
        </div>
      </li>

      <li class="cards_item2">
        <div class="card">
          <div class="card_image buttonCard"><img src="{% static 'blog/images/t5.jpg' %}"></div>
          <div class="card_content2">
            <h2 class="card_title2">¿Qué debo saber acerca de la página que se creará?
               </h2>
            <br>
            <button class="btn card_btn buttonCard"><a href="https://www.facebook.com/business/help/366099230478737?id=939256796236247">Revisar política  <i class="fa fa-facebook-official" aria-hidden="true"></i></a> </button>
          </div>
        </div>
      </li>

     
      
    </ul>
  </div>
  


{% endblock %}