{% extends 'blog/base.html' %}
{% block content %}
{% load static %}

<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(./../../static/blog/images/cliente.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Descubre los testimonios de nuestros colaboradores <br> Que con solo su cuenta de Facebook ganan dinero</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container text-center " style="align-content: center;" >
    <div class="row" style="align-content: center;" >
        <div class="col-md-12 ">
            <h3 class="mt-12 text-center" style="color: #240090; font-weight: 450; margin-top: 30px;">Nuestros colaboradores iniciaron en busca de un apoyo económico y han sabido elegirnos como su opción para una estabilidad mejor y generar ganancias. <br> <br>  Mira lo que opinan</h3>
        </div>

            <div class="col-md-3 col-sm-4 col-xs-6 mt-20" >
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'blog/images/hombre.png' %}" class="card-img-top" alt="img" style="width:150px;
                    height:150px;
                    border-radius:150px;
                    border:5px solid #240090;">
                    <div class="card-body ">
                        <span style="margin-top: 5px;">Angel Márquez, via <a href="#" class="twitter">Facebook</a></span>
                        <p style="font-size: larger; margin-top: 7px;">&ldquo;Muchas Gracias! una empresa que si cumple, los recomiendo &rdquo;</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 mt-20">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'blog/images/hombre2.jpg' %}" class="card-img-top" alt="img" style="width:150px;
                    height:150px;
                    border-radius:150px;
                    border:5px solid #240090;">
                    <div class="card-body ">
                        <span style="margin-top: 5px;">Adrian Lomen Guzman, via <a href="#" class="twitter">Facebook</a></span>
                        <p style="font-size: larger;">&ldquo;Mi pago se realizo a la tercer semana que ingrese, muchas gracias, me hacia falta ese ingreso.&rdquo;</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 mt-20">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'blog/images/hombre3.jpg' %}" class="card-img-top" alt="img" style="width:150px;
                    height:150px;
                    border-radius:150px;
                    border:5px solid #240090;">
                    <div class="card-body ">
                        <span style="margin-top: 5px;">de León Morales, via <a href="#" class="twitter">Facebook</a></span>
                        <p style="font-size: larger;">&ldquo;Muchas Gracias por mis pagos, los recomendare con mi familia y amigos. &rdquo;</p>
                    </div>
                  </div>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6 mt-20">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'blog/images/mujer.png' %}" class="card-img-top" alt="img" style="width:150px;
                    height:150px;
                    border-radius:150px;
                    border:5px solid #240090;">
                    <div class="card-body ">
                        <span style="margin-top: 5px;">Maria del Carmen Camacho, via <a href="#" class="twitter">Facebook</a></span>
                        <p style="font-size: larger;">&ldquo;Fueron muy amables conmigo, nunca tuve problemas con ellos y todo estuvo en orden con mis cuentas &rdquo;</p>
                    </div>
                  </div>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6 mt-10">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'blog/images/mujer2.png' %}" class="card-img-top" alt="img" style="width:150px;
                    height:150px;
                    border-radius:150px;
                    border:5px solid #240090;">
                    <div class="card-body ">
                        <span style="margin-top: 5px;">Reyna Martinez Hernandéz, via <a href="#" class="twitter">Facebook</a></span>
                        <p style="font-size: larger;">&ldquo;Muchas gracias, yo ya ingrese a todos mis hermanos y ya estan por recibir su pago  &rdquo;</p>
                    </div>
                  </div>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6 mt-10">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'blog/images/mujer3.png' %}" class="card-img-top" alt="img" style="width:150px;
                    height:150px;
                    border-radius:150px;
                    border:5px solid #240090;">
                    <div class="card-body ">
                        <span style="margin-top: 5px;">Mariana Martinez, via <a href="#" class="twitter">Facebook</a></span>
                        <p style="font-size: larger;">&ldquo;Los pagos llegan a su tiempo y es muy facil, recibo ganancias por solo usar mi Facebook &rdquo;</p>
                    </div>
                  </div>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6 mt-10">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'blog/images/mujer4.jpg' %}" class="card-img-top" alt="img" style="width:150px;
                    height:150px;
                    border-radius:150px;
                    border:5px solid #240090;">
                    <div class="card-body ">
                        <span style="margin-top: 5px;">Beatriz Ramos Delgado, via <a href="#" class="twitter">Facebook</a></span>
                        <p style="font-size: larger;">&ldquo;Entre por recomendación de una amiga y recibio mas ganancias por referirme. Excelente!! &rdquo;</p>
                    </div>
                  </div>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6 mt-10">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'blog/images/hombre4.png' %}" class="card-img-top" alt="img" style="width:150px;
                    height:150px;
                    border-radius:150px;
                    border:5px solid #240090;">
                    <div class="card-body ">
                        <span style="margin-top: 5px;">Cifredo Cabadilla Peralta, via <a href="#" class="twitter">Facebook</a></span>
                        <p style="font-size: larger;">&ldquo;Confien, es una empresa responsable, cumple su palabra. Excelente empresa, su apoyo es bueno  &rdquo;</p>
                    </div>
                  </div>
            </div>  
        </div>

        <div class="row" style="align-content: center;">

            <h2 class="text-center" style="color: #240090; font-weight: 450; margin-top: 30px;"> Y ASI HAY MAS PERSONAS QUE COMENTAN LO BUENO QUE ES COLABORAR CON NOSOTROS </h2>

            <img src="{% static 'blog/images/captura1.jpg' %}" style="margin: 20px 20px;  border:3px solid #240090;" class="img-fluid" alt="..." width="320px" height="500px">
            <img src="{% static 'blog/images/captura2.png' %}" style="margin: 20px 20px; border:3px solid #240090;"  class="img-fluid" alt="..." width="320px" height="500px">
            <img src="{% static 'blog/images/captura3.jpg' %}" style="margin: 20px 20px; border:3px solid #240090;" class="img-fluid" alt="..." width="320px" height="500px">
            <img src="{% static 'blog/images/captura4.jpg' %}" style="margin: 20px 20px; border:3px solid #240090;" class="img-fluid" alt="..." width="320px" height="500px">
            <img src="{% static 'blog/images/captura5.png' %}" style="margin: 20px 20px; border:3px solid #240090;" class="img-fluid" alt="..." width="320px" height="500px">
            <img src="{% static 'blog/images/captura6.png' %}" style="margin: 20px 20px; border:3px solid #240090;" class="img-fluid" alt="..." width="320px" height="500px">
            <img src="{% static 'blog/images/captura7.jpg' %}" style="margin: 20px 20px; border:3px solid #240090;" class="img-fluid" alt="..." width="320px" height="500px">

            <h2 class="text-center" style="color: #240090; font-weight: 450; margin-top: 30px;"> ¡QUE ESPERAS PARA COLABORAR CON NOSOTROS!</h2>
            
        </div>
</div>

{% endblock %}
