{% extends 'blog/base.html' %}
{% block content %}
{% load static %}

<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(./../../static/blog/images/cliente.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Descubre los testimonios de nuestros colaboradores <br> Que con solo su cuenta de Facebook ganan dinero</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container text-center " style="align-content: center;" >
    <div class="row" style="align-content: center;" >
        <div class="col-md-12 ">
            <h3 class="mt-12 text-center" style="color: #240090; font-weight: 450; margin-top: 30px;">Nuestros colaboradores iniciaron en busca de un apoyo económico y han sabido elegirnos como su opción para una estabilidad mejor y generar ganancias. <br> <br>  Mira lo que opinan</h3>
        </div>

            <div class="col-md-3 col-sm-4 col-xs-6 mt-20" >
                <div class="card" style="width: 18rem;">
                    <img src="https://imgs.search.brave.com/uDRBi7vKT-66Hxl5bBYkMyyRJsEelrTB8KcSACpVMss/rs:fit:1200:988:1/g:ce/aHR0cHM6Ly9tc21m/b3RvZ3JhZmlhLmNv/bS93cC1jb250ZW50/L3VwbG9hZHMvMjAy/MC8wNi9NU01fZm90/b19wZXJmaWxfcHJv/ZmVzaW9uYWxfTWFk/cmlkXzM2LmpwZw" class="card-img-top" alt="img" style="width:100px;
                    height:100px;
                    border-radius:150px;
                    border:5px solid #240090;">
                    <div class="card-body ">
                        <span style="margin-top: 5px;">Angel Márquez, via <a href="#" class="twitter">Facebook</a></span>
                        <p style="font-size: larger; margin-top: 7px;">&ldquo;Muchas Gracias! una empresa que si cumple, los recomiendo &rdquo;</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 mt-20">
                <div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUxZHgwQ1e8uacbbtItPhQOWlDQMCcNc228-K3IrQD_CuB0Ys-2dH5EyP_h3_VBV4M4hc&usqp=CAU" class="card-img-top" alt="img" style="width:100px;
                    height:100px;
                    border-radius:150px;
                    border:5px solid #240090;">
                    <div class="card-body ">
                        <span style="margin-top: 5px;">Adrian Lomen Guzman, via <a href="#" class="twitter">Facebook</a></span>
                        <p style="font-size: larger;">&ldquo;Mi pago se realizo a la tercer semana que ingrese, muchas gracias, me hacia falta ese ingreso.&rdquo;</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 mt-20">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.blogdelfotografo.com/wp-content/uploads/2022/01/retrato-anillo-luz.jpg" class="card-img-top" alt="img" style="width:100px;
                    height:100px;
                    border-radius:150px;
                    border:5px solid #240090;">
                    <div class="card-body ">
                        <span style="margin-top: 5px;">de León Morales, via <a href="#" class="twitter">Facebook</a></span>
                        <p style="font-size: larger;">&ldquo;Muchas Gracias por mis pagos, los recomendare con mi familia y amigos. &rdquo;</p>
                    </div>
                  </div>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6 mt-20">
                <div class="card" style="width: 18rem;">
                    <img src="https://dam.muyinteresante.com.mx/wp-content/uploads/2018/05/fotos-de-perfil-son-mejor-elegidas-por-personas-extranas-afirma-estudio.jpg" class="card-img-top" alt="img" style="width:100px;
                    height:100px;
                    border-radius:150px;
                    border:5px solid #240090;">
                    <div class="card-body ">
                        <span style="margin-top: 5px;">Maria del Carmen Camacho, via <a href="#" class="twitter">Facebook</a></span>
                        <p style="font-size: larger;">&ldquo;Fueron muy amables conmigo, nunca tuve problemas con ellos y todo estuvo en orden con mis cuentas &rdquo;</p>
                    </div>
                  </div>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6 mt-10">
                <div class="card" style="width: 18rem;">
                    <img src="https://socialtools.me/wp-content/uploads/2016/04/foto-de-perfil.jpg" class="card-img-top" alt="img" style="width:100px;
                    height:100px;
                    border-radius:150px;
                    border:5px solid #240090;">
                    <div class="card-body ">
                        <span style="margin-top: 5px;">Reyna Martinez Hernandéz, via <a href="#" class="twitter">Facebook</a></span>
                        <p style="font-size: larger;">&ldquo;Muchas gracias, yo ya ingrese a todos mis hermanos y ya estan por recibir su pago  &rdquo;</p>
                    </div>
                  </div>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6 mt-10">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.webconsultas.com/sites/default/files/styles/wc_adaptive_image__small/public/articulos/perfil-resilencia.jpg" class="card-img-top" alt="img" style="width:100px;
                    height:100px;
                    border-radius:150px;
                    border:5px solid #240090;">
                    <div class="card-body ">
                        <span style="margin-top: 5px;">Mariana Martinez, via <a href="#" class="twitter">Facebook</a></span>
                        <p style="font-size: larger;">&ldquo;Los pagos llegan a su tiempo y es muy facil, recibo ganancias por solo usar mi Facebook &rdquo;</p>
                    </div>
                  </div>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6 mt-10">
                <div class="card" style="width: 18rem;">
                    <img src="https://imgs.search.brave.com/Xs5O3NL0ItAWZcefzX9pG3WFH0-qN06pdKiFzN3J0Kw/rs:fit:1137:910:1/g:ce/aHR0cHM6Ly9tc21m/b3RvZ3JhZmlhLmNv/bS93cC1jb250ZW50/L3VwbG9hZHMvMjAy/MS8wMy9NU01fZm90/b19wZXJmaWxfcHJv/ZmVzaW9uYWxfTWFk/cmlkXzQzLTEuanBn" class="card-img-top" alt="img" style="width:100px;
                    height:100px;
                    border-radius:150px;
                    border:5px solid #240090;">
                    <div class="card-body ">
                        <span style="margin-top: 5px;">Beatriz Ramos Delgado, via <a href="#" class="twitter">Facebook</a></span>
                        <p style="font-size: larger;">&ldquo;Entre por recomendación de una amiga y recibio mas ganancias por referirme. Excelente!! &rdquo;</p>
                    </div>
                  </div>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6 mt-10">
                <div class="card" style="width: 18rem;">
                    <img src="https://imgs.search.brave.com/bcdHuoUEwPkL0C9xXAU4b0NiZyXDWfJK4mqbmHmu5hI/rs:fit:414:414:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vNzM2/eC9hNi84ZS83MS9h/NjhlNzExZWYwNmQ0/NWVjMTljMjRlMmZl/ZjAzZGVhNy5qcGc" class="card-img-top" alt="img" style="width:100px;
                    height:100px;
                    border-radius:150px;
                    border:5px solid #240090;">
                    <div class="card-body ">
                        <span style="margin-top: 5px;">Cifredo Cabadilla Peralta, via <a href="#" class="twitter">Facebook</a></span>
                        <p style="font-size: larger;">&ldquo;Confien, es una empresa responsable, cumple su palabra. Excelente empresa, su apoyo es bueno  &rdquo;</p>
                    </div>
                  </div>
            </div>  
        </div>

        <div class="row" style="align-content: center;">

            <h2 class="text-center" style="color: #240090; font-weight: 450; margin-top: 30px;"> Y ASI HAY MAS PERSONAS QUE COMENTAN LO BUENO QUE ES COLABORAR CON NOSOTROS </h2>

            <img src="{% static 'blog/images/captura1.png' %}" style="margin: 20px 20px;  border:3px solid #240090;" class="img-fluid" alt="..." width="320px" height="500px">
            <img src="{% static 'blog/images/captura2.png' %}" style="margin: 20px 20px; border:3px solid #240090;"  class="img-fluid" alt="..." width="320px" height="500px">
            <img src="{% static 'blog/images/captura3.png' %}" style="margin: 20px 20px; border:3px solid #240090;" class="img-fluid" alt="..." width="320px" height="500px">
            <img src="{% static 'blog/images/captura4.png' %}" style="margin: 20px 20px; border:3px solid #240090;" class="img-fluid" alt="..." width="320px" height="500px">
            <img src="{% static 'blog/images/captura5.png' %}" style="margin: 20px 20px; border:3px solid #240090;" class="img-fluid" alt="..." width="320px" height="500px">
            <img src="{% static 'blog/images/captura6.png' %}" style="margin: 20px 20px; border:3px solid #240090;" class="img-fluid" alt="..." width="320px" height="500px">
            <img src="{% static 'blog/images/captura7.png' %}" style="margin: 20px 20px; border:3px solid #240090;" class="img-fluid" alt="..." width="320px" height="500px">

            <h2 class="text-center" style="color: #240090; font-weight: 450; margin-top: 30px;"> ¡QUE ESPERAS PARA COLABORAR CON NOSOTROS!</h2>
            
        </div>
</div>

{% endblock %}
