{% extends 'blog/base3.html' %}
{% block content %}
{% load static %}

<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(./../../static/blog/images/cliente.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Descubre los testimonios de nuestros colaboradores. <br> Ellos ganaron solo con su cuenta de Facebook.</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 ">
            <h3 class="mt-12 text-center" style="color: #240090; font-weight: 450; margin-top: 30px;">Miles de usuarios se pusieron en contacto con nosotros y empezaron a generar.  <br> <br>  Mira aquí sus testimonios:</h3>
        </div>
    </div>

</div>

<div class="main">
    <ul class="cards">
      <li class="cards_item">
        <div class="card3">
          <div class="card_image">  <img src="{% static 'blog/images/hombre.png' %}" class="card-img-top" alt="img" style="width:150px;
            height:150px;
            border-radius:150px;
            border:5px solid #240090;"></div>
          <div class="card_content text-center">
            <span style="margin-top: 5px;">Angel Márquez. <br><a href="https://www.facebook.com/profile.php?id=100056537025341" class="twitter">Facebook</a></span>
            <p style="font-size: medium;">"Muchas Gracias! una empresa que si cumple, los recomiendo"</p>
        </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card3">
          <div class="card_image">  <img src="{% static 'blog/images/hombre2.png' %}" class="card-img-top" alt="img" style="width:150px;
            height:150px;
            border-radius:150px;
            border:5px solid #240090;"></div>
          <div class="card_content text-center">
            <span style="margin-top: 5px;">Antonio Salas. <br><a href="https://www.facebook.com/profile.php?id=100077857514478" class="twitter">Facebook</a></span>
            <p style="font-size: medium;">"Mi pago se realizo a la tercer semana que ingrese, muchas gracias, me hacia falta ese ingreso."</p>
        </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card3">
          <div class="card_image">  <img src="{% static 'blog/images/hombre3.jpg' %}" class="card-img-top" alt="img" style="width:150px;
            height:150px;
            border-radius:150px;
            border:5px solid #240090;"></div>
          <div class="card_content text-center">
            <span style="margin-top: 5px;">Wayne De León Morales. <br><a href="https://www.facebook.com/Way.1012.morales" class="twitter">Facebook</a></span>
            <p style="font-size: medium;">"Muchas Gracias por mis pagos, los recomendare con mi familia y amigos."</p>
        </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card3">
          <div class="card_image">  <img src="{% static 'blog/images/mujer1.png' %}" class="card-img-top" alt="img" style="width:150px;
            height:150px;
            border-radius:150px;
            border:5px solid #240090;"></div>
          <div class="card_content text-center">
            <span style="margin-top: 5px;">María Del Carmen Camacho. <br><a href="https://www.facebook.com/mariadelcarmen.camacho.712" class="twitter">Facebook</a></span>
            <p style="font-size: medium;">"Fueron muy amables conmigo, nunca tuve problemas con ellos y todo estuvo en orden con mi cuenta"</p>
        </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card3">
          <div class="card_image">  <img src="{% static 'blog/images/mujer.png' %}" class="card-img-top" alt="img" style="width:150px;
            height:150px;
            border-radius:150px;
            border:5px solid #240090;"></div>
          <div class="card_content text-center">
            <span style="margin-top: 5px;">Reyna Martinez Hernandéz. <br><a href="https://www.facebook.com/reyna.mtz.76" class="twitter">Facebook</a></span>
            <p style="font-size: medium;">"Muchas gracias, yo ya ingrese a todos mis hermanos y ya estan por recibir su pago"</p>
        </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card3">
          <div class="card_image">  <img src="{% static 'blog/images/mujer6.png' %}" class="card-img-top" alt="img" style="width:150px;
            height:150px;
            border-radius:150px;
            border:5px solid #240090;"></div>
          <div class="card_content text-center">
            <span style="margin-top: 5px;">Lupita Ramírez. <br><a href="https://www.facebook.com/profile.php?id=100022375846483" class="twitter">Facebook</a></span>
            <p style="font-size: medium;">"Los pagos llegan a su tiempo y es muy facil, recibo ganancias por solo usar mi Facebook"</p>
        </div>
        </div>
      </li>

      <li class="cards_item">
        <div class="card3">
          <div class="card_image">  <img src="{% static 'blog/images/mujer5.png' %}" class="card-img-top" alt="img" style="width:150px;
            height:150px;
            border-radius:150px;
            border:5px solid #240090;"></div>
          <div class="card_content text-center">
            <span style="margin-top: 5px;">Agustina Camarillo. <br><a href="https://www.facebook.com/profile.php?id=100009233675575" class="twitter">Facebook</a></span>
            <p style="font-size: medium;">"Entre por recomendación de una amiga y recibio mas ganancias por referirme. Excelente!!"</p>
        </div>
        </div>
      </li>

      <li class="cards_item">
        <div class="card3">
          <div class="card_image">  <img src="{% static 'blog/images/hombre7.png' %}" class="card-img-top" alt="img" style="width:150px;
            height:150px;
            border-radius:150px;
            border:5px solid #240090;"></div>
          <div class="card_content text-center">
            <span style="margin-top: 5px;">Cifredo Cabadilla Peralta. <br><a href="https://www.facebook.com/cifredito.cabadilla.14" class="twitter">Facebook</a></span>
            <p style="font-size: medium;">"Confien, es una empresa responsable, cumple su palabra. Excelente empresa, su apoyo es bueno "</p>
        </div>
        </div>
      </li>
     
     
    
    </ul>
  </div>


<div class="container text-center " >
   

        <div class="row" style="align-content: center;">

            <h2 class="text-center" style="color: #240090; font-weight: 450; margin-top: 30px;"> Y ASI HAY MAS PERSONAS QUE COMENTAN LO BUENO QUE ES COLABORAR CON NOSOTROS </h2>

            <img src="{% static 'blog/images/captura1.jpg' %}"   style="margin: 20px 20px;  border:3px solid #240090;" class="img-fluid" alt="..." >
            <img src="{% static 'blog/images/captura2.jpg' %}" style="margin: 20px 20px; border:3px solid #240090;"  class="img-fluid" alt="..." >
            <img src="{% static 'blog/images/captura3.jpg' %}" style="margin: 20px 20px; border:3px solid #240090;" class="img-fluid" alt="..." >
            <img src="{% static 'blog/images/captura4.jpg' %}" style="margin: 20px 20px; border:3px solid #240090;" class="img-fluid" alt="..." height="400px">
            <img src="{% static 'blog/images/captura5.png' %}" style="margin: 20px 20px; border:3px solid #240090;" class="img-fluid" alt="..." >
            <img src="{% static 'blog/images/captura6.jpg' %}" style="margin: 20px 20px; border:3px solid #240090;" class="img-fluid" alt="..." >

            <h2 class="text-center" style="color: #240090; font-weight: 450; margin-top: 30px;"> ¿QUÉ ESPERAS PARA COLABORAR CON NOSOTROS?</h2>
            
        </div>
</div>

{% endblock %}
